
        <article class="flex max-w-xl flex-col items-start justify-between">
          <div class="flex items-center gap-x-4 text-xs">
            <time datetime="2020-03-16" class="text-gray-500">{{date_created}}</time>
          </div>
          <div class="group relative">
            <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
              <a href="#">
                <span class="absolute inset-0"></span>
                {{title}}
              </a>
            </h3>
            <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">{{summary}}</p>
          </div>
          <div class="relative mt-8 flex items-center gap-x-4">
            <img src="http://localhost:3001/images/profile-pictures/{{user.photo}}" alt="" class="h-10 w-10 rounded-full bg-gray-50">
            <div class="text-sm leading-6">
              <p class="font-semibold text-gray-900">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  {{user.first_name}} {{user.last_name}}
                </a>
              </p>
              <p class="text-gray-600">From {{user.country}}</p>
            </div>
          </div>
        </article>

        <!-- More posts... -->
