    <article class="flex flex-col justify-center">
        <container class ="pb-4 border border-b-4">
            <id>
                <p class="text-xs text-gray-500">ID : {{post.id}}</p>
            </id>
            <date>
                <time datetime="2020-03-16" class="text-gray-500">Post Date: {{post.date_created}}</time>
            </date>
            <postTitle>
                <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                    Title: {{post.title}}
                </h3>
            </postTitle>
            <content>
                <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">{{post.content}}</p>
            </content>
            <user>
                <div class="text-sm leading-6">
                    <p class="font-semibold text-gray-900">
                        By: {{post.user.first_name}} {{post.user.last_name}}<br>
                        {{post.user.username}}
                    </p>
                    <p class="text-gray-600">From {{post.user.country}}</p>
                </div>
            </user>
        </container>
        <comments class="flex flex-col justify-center">
            <h3 class=" pb-4 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">Comments: </h3>
            {{#each comments as |comment|}}
            <div class="border border-b-1">
                <div class="flex items-center gap-x-4 text-xs">
                    <p class="text-xs text-gray-500">ID : {{comment.id}}</p>
                    <time class="text-gray-500">{{comment.date_posted}}</time>
                </div>
                <h4 class="text-sm font-bold text-gray-900">Username: {{comment.user.username}}</h4>
                <div class="mt-4 space-y-6 text-base italic text-gray-600">
                    <p>{{comment.content}}</p>
                </div>

            </div>
            {{/each}}
        </comments>
    </article>

